/**
 * slider button
 */
button.flip_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 35px;
    background-color: #949799;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

button.flip_button.show {
    opacity: 0.6;
    transition: opacity 300ms ease-in-out;
}

button.flip_button:hover {
    cursor: pointer;
    background-color: #666;
}

button.flip_button.left {
    left: 0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

button.flip_button.right {
    right: 0px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

button.flip_button::after {
    position: relative;
    font-weight: 900;
    color: #fff;
    font-size: 12px/1.5;
    font-family: monospace;
    -webkit-user-select: none;
}

button.flip_button.left::after {
    content: "<";
    left: -2px;
}

button.flip_button.right::after {
    content: ">";
    right: -2px;
}