@charset "UTF-8";
/**
 * css 初始化 
 */

.shortcut {
    height: 30px;
    line-height: 28px;
}

.shortcut li {
    float: left;
}

li.dt {
    padding: 0px 7px;
}

li.seperator {
    overflow: hidden;
    width: 1px;
    height: 10px;
    margin: 10px 7px;
    background-color: gray;
}

/**
 * 版心（可视区）。需要专门提取出来
 */
.w {
    width: 1420px;
    margin: auto;
}

.dropdown_button {
    border: 1px solid transparent;
    padding: 0px 7px;
}

.dropdown_button:hover {
    border: 1px solid #c0c0c0;
    border-bottom: none;
    background-color: white;
    cursor: pointer;
}

.dropdown_content {
    z-index: 10;
    display: none;
    position: absolute;
    margin-left: -8px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-top: none;
    background-color: white;
    width: 300px;
}

.dropdown_content div>span {
    padding: 3px 10px;
    font-weight: 700;
}

.dropdown_content div>a {
    padding: 3px 10px;
}

.dropdown_content div>a:hover {
    background-color: #e0dfdf;
}

div.item {
    width: 60px;
    float: left;
}

div.item_long {
    width: 100px;
    float: left;
}

.bottom_arrow {
    font-size: 8px;
    position: relative;
    margin: 4px;
}

/**
 * 头部区域
 */
 .header {
    background-color: #fff;
 }

 .header .w {
     position: relative;
 }

.header img.title {
    position: absolute;
    left: 0px;
    height: 100px;
}

.header .search {
    position: relative;
    padding-top: 20px;
    width: 100%;
    height: 80px;
}

.header .search .editor {
    position: relative;
    margin: 0px auto;
    width: 550px;
    height: 36px;
    border: 2px solid red;
}

.header .search .editor .random {
    position: absolute;
    cursor: text;
    margin-left: 20px;
    height: 36px;
    line-height: 36px;
    color: #999;
}

.header .search .editor .random.active {
    color: #bbb;
}

.header .search .editor .random.input {
    display: none;
}

.header .search .editor input {
    margin-left: 20px;
    width: 450px;
    height: 36px;
    line-height: 36px;
    font-size: 0.9rem;
    font-family: Microsoft YaHei;
}

.header .search .editor img.carmera {
    position: absolute;
    right: 70px;
    height: 36px;
}

.header .search .editor img.carmera:hover {
    color: red;
}

.header .search .editor .search_button {
    position: absolute;
    height: 40px;
    width: 60px;
    top: -2px;
    right: -2px;
    background-color: red;
    cursor: pointer;
}

.header .search .editor .search_button:hover {
    background-color: #d10606;
}

.header .search .editor .search_button img {
    display: block;
    height: 100%;
    width: 36px;
    color: white;
    margin: 0px auto;
}

.header .hotwords {
    margin: 5px auto 0px;
    width: 550px;
    height: 20px;
}

.header .hotwords a {
    float: left;
    margin-right: 10px;
}

.header .hotwords a:first-child {
    color: red;
}

.header .history {
    z-index: 10;
    position: absolute;
    display: none;
    top: 62px;
    border: 1px solid #666;
    box-shadow: 10px 10px 10px #666;
    background-color: #fff;
}

.header .history .history_item {
    position: relative;
    width: 540px;
    text-align: left;
    cursor: pointer;
    padding: 5px;
}

.header .history .history_item:hover {
    background-color: #ccc;
}

.header .history .history_item>button {
    position: absolute;
    border-radius: 4px;
    width: 50px;
    right: 10px;
    cursor: pointer;
    color: #444;
    background-color: #eee;
}

.header .history .history_item>button:hover {
    background-color: #ff8282;
}


/**
 * 导航区域
 */
nav {
    width: 100%;
    float: left;
    background-color: #f0f1f2;
}

nav .classicfication {
    width: fit-content;
    margin: 10px 0px;
    padding: 20px 0px;
    background-color: #fff;
}

nav .classicfication li {
    padding-left: 20px;
    width: 190px;
    height: 28px;
    line-height: 28px;
}

nav .classicfication>li:hover {
    background-color: #e0dfdf;
}

/**
 * 中间轮播图
 */
nav .carousel {
    position: relative;
    margin: 10px 10px;
    width: 800px;
    height: 544px;
    background-color: white;
}

nav .carousel ul:first-child li {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
}

nav .carousel ul:first-child li img {
    width: 100%;
    height: 100%;
}

nav .carousel ul:first-child li.show {
    z-index: 1;
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}

nav .carousel .index {
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;
}

nav .carousel .index>li {
    float: left;
    width: 30px;
    height: 30px;
    color: #000;
    background: #d3feff;
    border: 2px solid #d3feff;
    border-radius: 17px;
    opacity: 0.8;
    font-size: 0.8rem;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

nav .carousel .index>li.current {
    background: #fa3b3b;
}

/**
 * 右侧轮播图
 */
nav .carousel_right {
    position: relative;
    width: 190px;
    margin: 10px 0px;
    background-color: #fff;
}

nav .carousel_right ul>li {
    margin-bottom: 10px;
    height: 171px;
    background-color: #ccc;
}

nav .carousel_right ul>li:nth-child(3) {
    margin-bottom: 0px;
    height: 182px;
}

nav .carousel_right li img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/**
 * 其他
 */
nav .other {
    position: relative;
    width: 190px;
    height: 544px;
    margin: 10px 0px 10px 10px;
    background-color: #fff;
}

/**
 * 其他 > vip
 */
nav .other .vip {
    width: 190px;
}

nav .other .vip>div:nth-child(1) {
    width: 190px;
    height: 80px;
}

nav .other .vip div.head_img {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #eee;
    background-color: #fff;
    background-size: cover;
    background-image: url(https://img-blog.csdnimg.cn/20201011132854978.jpg);
}

nav .other .vip div.login {
    margin-top: 30px;
    margin-left: 10px;
}

nav .other .vip .buttons {
    margin-top: 10px;
    text-align: center;
}

nav .other .vip .buttons button {
    width: 70px;
    height: 25px;
    border-radius: 12.5px;
    cursor: pointer;
}

nav .other .vip .buttons button:first-child {
    background-color: red;
    color: white;
}

nav .other .vip div.buttons button:first-child:hover {
    background-color: black;
}

nav .other .vip div.buttons button:last-child {
    background-color: black;
    color: gold;
}

nav .other .vip div.buttons button:last-child:hover {
    background-color: red;
}

nav .other .seperator {
    width: 70%;
    height: 1px;
    margin: 0px auto;
    margin-top: 15px;
    background-color: gray;
    background-image: linear-gradient(to right, white 0%, gray 50%, white 100%);
}

nav .other .newspaper {
    margin-top: 10px;
    width: 190px;
}

nav .other .newspaper li {
    width: 190px;
    position: relative;
}

nav .other .newspaper li .title {
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

nav .other .newspaper li a.more {
    display: inline;
    position: absolute;
    right: 10px;
    margin: 0px;
    height: 24px;
    line-height: 24px;
}

nav .other .newspaper li>a {
    margin: 6px 10px 5px 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    height: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
}

nav .other .newspaper li>a>span {
    padding: 5px;
    margin-right: 6px;
    color: red;
    background-color: #FCE6E4;
}

nav .other .quick_life {
    position: relative;
    overflow: hidden;
    height: 255px;
    margin-top: 5px;
}

nav .other .quick_life .quick_life_ul>li {
    float: left;
    width: 60px;
    height: 44px;
    margin: 10px 0px;
}

nav .other .quick_life li img {
    width: 28x;
    height: 28px;
    margin: 0px 16px;
    cursor: pointer;
}

nav .other .quick_life li img.hover {
    display: none;
}

nav .other .quick_life li p {
    cursor: pointer;
    text-align: center;
}

nav .other .quick_life .tab_view {
    position: absolute;
    top: 255px;
    background-color: white;
    transition: top 200ms linear;
}

nav .other .quick_life .tab_view.show {
    top: 0px;
    transition: top 200ms linear;
}

nav .other .quick_life .tab {
    float: left;
    width: 63px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

nav .other .quick_life .tab>div {
    display: none;
    width: 70%;
    height: 2px;
    margin: 0px auto;
    background-color: red;
    background-image: linear-gradient(to right, white 0%, red 50%, white 100%);
}

nav .other .quick_life .tab>div.current {
    display: block;    
}

nav .other .quick_life div.content {
    display: none;
    width: 190px;
    height: 230px;
    line-height: 230px;
    text-align: center;
}

nav .other .quick_life div.current {
    display: block;
}

/**
 * 限时秒杀倒计时部分
 */
div.seckill {
    margin-top: 20px;
    width: 100%;
    float: left;
}

div.seckill .playbill {
    width: 190px;
    height: 260px;
    background-image: url(../images/seckill/lightning.png);
}

div.seckill .playbill>.title {
    float: left;
    margin-top: 32px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

div.seckill .playbill .countdown_time {
    float: left;
    position: relative;
    margin-top: 80px;
    font-size: 1rem;
    color: white;
}

div.seckill .playbill .countdown_time>.time {
    font-weight: 900;
    margin-right: 4px;
}

.seckill .playbill>.countdown {
    position: relative;
    margin-top: 18px;
    float: left;
    font-size: 1.5rem;
    color: white;
}

.seckill .playbill>.countdown>p {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: #2f3430;
    text-align: center;
}

.seckill .playbill>.countdown>p:nth-child(-n+2) {
    margin-right: 20px;
}

.seckill .playbill>.countdown>p:nth-child(-n+2)::after {
    position: absolute;
    content: ":";
    right: -14px;
}

/**
 * 限时秒杀切换视图部分
 */
.seckill .switch_view {
    position: relative;
    height: 260px;
    margin: auto 10px;
    background-color: #fff;
}

.seckill .switch_view ul>li {
    position: relative;
    margin-right: 10px;
    width: 235px;
    height: 260px;
    background-color: #ddd;
}

.seckill .switch_view ul>li:last-child {
    margin-right: 0px;
}

.seckill .switch_view li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #bbb 0%, #ddd 100%);
}

.seckill .switch_view li img {
    position: relative;
    display: block;
    max-width: 90%;
    max-height: 55%;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.seckill .switch_view li p {
    margin: 10px 0px 0px 20px;
    height: 40px;
    line-height: 40px;
    width: 90%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #58667a;
}

/**
 * 限时秒杀价格部分
 */
.seckill .switch_view .price {
    position: relative;
    margin: 0px auto;
    width: 156px;
    height: 24px;
}

.seckill .switch_view .price span {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.seckill .switch_view .price .left {
    width: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-top-left-radius: 12px;
    background-color: red;
}

.seckill .switch_view .price .left::after {
    position: absolute;
    content: " ";
    left: 50%;
    border-style: solid;
    border-width: 12px 5px;
    border-color: red transparent transparent red;
}

.seckill .switch_view .price .right {
    width: 50%;
    color: #888;
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
    border-bottom-right-radius: 12px;
    background-color: white;
}

/**
 * 限时秒杀最右侧轮播部分
 */
.seckill .carousel {
    overflow: hidden;
    position: relative;
    width: 240px;
    height: 260px;
    background-image: linear-gradient(to bottom, #bbb 0%, #ddd 100%);
}

.seckill .carousel a {
    position: absolute;
    height: 100%;
}

.seckill .carousel ul.images {
    position: relative;
    width: 400%;
}

.seckill .carousel .images li {
    float: left;
    width: 240px;
    position: relative;
}

.seckill .carousel .images li img {
    position: relative;
    display: block;
    max-width: 90%;
    height: 50%;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.seckill .carousel .images li p {
    margin: 5px 0px 0px 0px;
    height: 18px;
    line-height: 18px;
    color: #58667a;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.seckill .carousel .images li p:nth-child(2) {
    font-weight: normal;
}

.seckill .carousel .images button {
    position: relative;
    left: 50%;
    margin-top: 5px;
    width: 40%;
    height: 24px;
    border-radius: 12px;
    border: 1px solid red;
    transform: translateX(-50%);
    color: red;
    font-weight: 800;
}

.seckill .carousel .images button:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

.seckill .carousel .index {
    position: relative;
    margin-top: 10px;
    width: 240px;
}

.seckill .carousel .index li {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: gray;
}

.seckill .carousel .index li.current {
    background-color: red;
}

.seckill .carousel .index .left {
    left: 108px;
}

.seckill .carousel .index .right {
    right: 108px;
}


/**
 * 电梯
 */
.seckill .elevator {
    width: 60px;
    margin-left: 20px;
    background-color: #fff;
}

.seckill .elevator a {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    font-size: 0.9rem;
}

.seckill .elevator a:hover {
    color: white;
    background-color: red;
}

.seckill .elevator a:nth-child(-n+5):after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 1px;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(to right, white, red, white);
}

.seckill .elevator a .text {
    display: inline-block;
    position: relative;
    max-width: 32px;
    line-height: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.seckill .elevator a img {
    position: relative;
    height: 30%;
    margin: 14px 0px 2px;
}

.seckill .elevator a .othter {
    position: relative;
    width: 100%;
    text-align: center;
}